{% extends "layout.html" %}

{% block title %}
flashの利用
{% endblock %}

{% block content %}
<h2>何か文字を入力してください</h2>

{% with message = get_flashed_messages() %}
{% if message %}
<ul>
    {% for message in messages %}
    <li><span style="color: B22222;">{{ message }}</span></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<br>

<form method="post" action="/flash">
<table>
    <tr>
        <th>text</th>
        <td> <input type="text" name="t"> </td>
    </tr>
        <tr>
            <th>number</th>
            <td> <input type="number" name="n"> </td>
        </tr>
            <th></th>
            <td>
                <input type="submit">
            </td>
        </form>
</table>
<br>

{% if post %}
入力した文字 : {{text}} <br>
入力した数字 : {{number}} <br>
{% endif %}
{% endblock %}